<div class="d-flex flex-column text-right col justify-content-center">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-dark">
      <a href="https://github.com/VicenteJSP/Treetter-UAMC" class="text-light">
        Treetter (Github)
        <img [src]="logoPrincipal" alt="Logo Treeter">
      </a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="https://angular.io/" class="text-light">
        Angular
        <img [src]="angular" alt="Logo Angular">
      </a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="https://d3js.org/" class="text-light">
        D3.js
        <img [src]="d3" alt="Logo D3.js">
      </a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="https://nodejs.org/es/" class="text-light">
        Node.js
        <img [src]="node" alt="Logo Node.js">
      </a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="https://getbootstrap.com/" class="text-light">
        Bootstrap
        <img [src]="bootstrap" alt="Logo Bootstrap">
      </a>
    </li>
  </ul>
</div>
<div class="d-flex flex-column text-left col justify-content-center">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-dark">
      <a href="http://cua.uam.mx/" class="text-light">
        <img [src]="uamc" alt="Logo UAMC"> Universidad Autónoma Metropolitana
      </a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="http://dccd.cua.uam.mx/Licenciatura_en_Tecnologias_y_Sistemas_de_Informacion" class="text-light">
        <img src="http://hermes.cua.uam.mx/img/dccd_blanco.png" alt="CCD"> Lic. en Tecnologías y Sistemas de Información
      </a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="http://hermes.cua.uam.mx/informacion_academicos.php?academico=ErickdeJesusLopezOrnelas" class="text-light">
        <img src="http://hermes.cua.uam.mx/img/images/fotos/532.jpg" alt="Dr. Erick de Jesús López Ornelas"> Dr. Erick de Jesús López Ornelas
      </a> (Asesor)
    </li>
    <li class="list-group-item bg-dark">
      <a href="https://github.com/VicenteJSP" class="text-light">
        <img src="https://avatars0.githubusercontent.com/u/13958441?s=460&u=35fbd1cc5ee83bbb9c1f167a596cedec4f81e7f0&v=4" alt="Vicente Jesus Santiago Palacios"> Vicente Jesus Santiago Palacios
      </a>
      [<a href="mailto:vicentejsp@outlook.com" class="text-light"> Email </a>] (Alumno)
    </li>
  </ul>
</div>
