{
    "cache": false,
    "check-coverage": false,
    "extension": [ ".ts" ],
    "include": [ "src/**/*.ts" ],
    "exclude": [
        ".nyc_output/**",
        "coverage/**",
        "logs/**",
        "node_modules/**",
        "test/**/*.spec.ts"
    ],
    "sourceMap": true,
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "all": true,
    "instrument": true
}