<table class="table table-sm table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Tweets</th>
      <th scope="col">Texto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th scope="col">Mencion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th scope="col">Hashtag&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th scope="col">Mencion + Hashtag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Originales</th>
      <td class="to-t"></td>
      <td class="to-m"></td>
      <td class="to-h"></td>
      <td class="to-mh"></td>
    </tr>
    <tr>
      <th scope="row">Respuesta</th>
      <td class="tr-t"></td>
      <td class="tr-m"></td>
      <td class="tr-h"></td>
      <td class="tr-mh"></td>
    </tr>
    <tr>
      <th scope="row">Retweets</th>
      <td class="rt-t"></td>
      <td class="rt-m"></td>
      <td class="rt-h"></td>
      <td class="rt-mh"></td>
    </tr>
  </tbody>
</table>
